<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.dbRoboMatrixUdlaConnectionString"
            connectionString="Data Source=.;Initial Catalog=dbRoboMatrixUdla;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.dbRoboMatrixUdlaConnectionString1"
            connectionString="Data Source=JUANMAVIANA;Initial Catalog=dbRoboMatrixUdla;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>